# Ignore build folder
build/
bin/

# Ignore all dot folders, with below exceptions
.*/

# VSCode
.vscode

# MacOS file
.DS_Store

# EchoEar generated and local files
.vs/
assets/
assets-old-*/
src/main copy.c
src/old-main.c
